<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
     <pages pageParserFilterType="Simplify.SimplifyPageParserFilter, Simplify, Version=0.0.1.0, Culture=neutral"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
